#appContainer {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Generate {
  background: #1c1610;
  margin-top: 30px;
  padding: 13px 40px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 55%);
}

#card {
  min-height: 400px;
  position: relative;
  width: 330px;
  display: flex;
  justify-content: center;
  background: salmon;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px rgb(0 0 0 / 30%);
}

#halfCircle {
  height: 148px;
  position: absolute;

  width: 100%;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
}

#HP {
  background: white;
  padding: 10px;
  border-radius: 100px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 65px;
  align-items: center;
  top: 5%;
  right: 5%;
}

#pokemon {
  position: absolute;
  text-align: center;
  top: 40px;
}

img {
  height: 180px;
}

#typesContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: 68%;
}

.types {
  padding: 5px 20px;
  border-radius: 50px;
  color: white;
}

#stats {
  position: absolute;
  bottom: 7%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
